{
  security {
    authentication portal fablab {
      backend google {{ authp_client_id }} {{ authp_client_secret }}
      cookie domain {{ domain }}
      crypto default token lifetime 86400
      crypto key sign-verify {{ authp_crypto_key }}
      transform user {
        suffix match email @eduespoo.fi
        action add role user
      }
      enable source ip tracking
    }

    authorization policy fablab {
      crypto key verify {{ authp_crypto_key }}
      crypto key token name access_token
      set auth url /auth
      allow roles user
    }
  }
}

doc.{{ domain }} {
  redir https://otafablab.gitlab.io/rust-lukiokurssi{uri} permanent
}

{{ domain }} {
  @options {
    method OPTIONS
  }

  route @options {
    header access-control-allow-origin {header.origin}
    header access-control-allow-credentials true
    header access-control-allow-methods "GET, POST, PUT, DELETE"
    header access-control-allow-headers x-api-key
    respond 204
  }

  route /auth* {
    authenticate with fablab
  }

  {% for rip in rips %}
  route "/{{ rip }}" {
      redir "https://fablab.rip/{{ rip }}/" permanent
  }
  route "/{{ rip }}/stream/*" {
    uri strip_prefix "/{{ rip }}/stream"
    reverse_proxy {
      to {{ hostvars[rip].wireguard_address }}:8089
    }
  }
  route "/{{ rip }}/*" {
    authorize with fablab
    uri strip_prefix "/{{ rip }}"
    
    reverse_proxy {
      header_up X-Script-Name "/{{ rip }}"
      header_down access-control-allow-origin {header.origin} #http://localho.st:8080
      header_down access-control-allow-credentials true
      to {{ hostvars[rip].wireguard_address }}:5000
    }
  }
  {% endfor %}

  route "/portal*" {
    authorize with fablab
    uri strip_prefix "/portal"

    file_server {
      root /var/lib/caddy/portal
    }
  }

  route /* {
    file_server {
      root /var/lib/caddy/public
    }
  }
}

doc.{{ domain }} {
  route * {
    redir https://otafablab.gitlab.io/rust-lukiokurssi{uri} permanent  
  }
}