# {{ ansible_managed }}
[Interface]
Address = {{ wireguard_address }}/24
PrivateKey = {{ wireguard_privatekey }}

[Peer]
PublicKey = {{ wireguard_peer_publickey }}
AllowedIPs = {{ wireguard_peer_address }}/32
Endpoint = {{ wireguard_peer_endpoint }}:53
PersistentKeepalive = 10
